<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1105" key="be374b04-5774-41b5-9ce5-b60b541fbcc4" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-09-09T22:07:46" updateDate="2018-09-09T22:22:15" nodeName="Seagulll Marine Academy" urlName="seagulll-marine-academy" path="-1,1105" isDoc="" nodeType="1084" creatorName="Admin" writerName="Admin" writerID="0" template="1104" nodeTypeAlias="homePage" isPublished="true">
    <pageContent><![CDATA[{"values":{"en-US":"[{\"key\":\"de0cc23f-52cd-4b5e-a340-3407bc7d2988\",\"name\":\"Item 1\",\"ncContentTypeAlias\":\"contentHomePage\",\"bannerImage\":\"umb://media/6dae028265464239959014d84be9414b\",\"title\":\"SEAGULLL MARINE ACADEMY\",\"subTitle\":\"India's best institue for marine education and training\"}]"},"dtdGuid":"183ff14a-0829-4dd1-8a53-128b9fd239d2"}]]></pageContent>
    <headerBottomLinks><![CDATA[{"values":{"en-US":"[]"},"dtdGuid":"d0ad46f2-459a-4c8c-8479-d65948921f5d"}]]></headerBottomLinks>
    <logo><![CDATA[umb://media/a15ae4d4ec174c7ab0bae47a40914bab]]></logo>
    <navigationLogo><![CDATA[umb://media/a15ae4d4ec174c7ab0bae47a40914bab]]></navigationLogo>
    <headerLinks><![CDATA[{"values":{"en-US":""},"dtdGuid":"4cf42cb8-f6d1-4e1f-b07d-47225d7be894"}]]></headerLinks>
    <navigation><![CDATA[{"values":{"en-US":"[{\"key\":\"7d387678-02c4-4c65-a815-c33582067511\",\"name\":\"Item 1\",\"ncContentTypeAlias\":\"contentNavigationColumns\",\"navigationContent\":\"\"}]"},"dtdGuid":"a1f67afd-3959-4002-9855-93f8e08405ca"}]]></navigation>
    <footer><![CDATA[{"values":{"en-US":"[{\"key\":\"1e580cc2-b68b-41d2-bd41-16aee1f4e34d\",\"name\":\"Item 1\",\"ncContentTypeAlias\":\"contentFooter\",\"footerLinks\":\"[]\",\"bottomLinks\":\"[]\",\"copyright\":\"\"}]"},"dtdGuid":"bfbacc70-1a60-4210-a064-c8803ba83f3b"}]]></footer>
  </homePage>
</root>